pipeline/pipeline1_session_url.json
{
	"name": "pipeline1_session_url",
	"properties": {
		"activities": [
			{
				"name": "act_web_url",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "set_variable_for_url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_web_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "yearwise-url",
					"value": {
						"value": "@{activity('act_web_url').output}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_copy_url",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_variable_for_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "col",
								"value": {
									"value": "@variables('yearwise-url')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "col",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sink_url_new",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_source_url_new",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"yearwise-url": {
				"type": "String"
			},
			"yearparents": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-12T11:07:33Z"
	}
}